@charset "UTF-8";
.a{
	color:white;
	display: block;
	height:40px;
	width: 90px;
	background-color: gray;
}
.b{
	color:white;
	display: block;
	height:40px;
	width: 90px;
	background-color: gray;
}
.c{
	color:white;
	display: block;
	height:40px;
	width: 90px;
	background-color: gray;
}
.d{
	color:white;
	display: block;
	height:40px;
	width: 90px;
	background-color: gray;
}
.e{
	color:white;
	display: block;
	height:40px;
	width: 90px;
	background-color: gray;
}
.f{
	color:white;
	display: block;
	height:40px;
	width: 90px;
	background-color: gray;
}
.g{
	color:white;
	display: block;
	height:40px;
	width: 90px;
	background-color: gray;
}