@charset "UTF-8";

.serchbar{
	height:19px;
	width: 330px;
}
.button{
	background-color: black;
	color: white;
	cursor:pointer;
}
.a{
	display: block;
	height:40px;
	width: 90px;
	background-color: #EEEEEE;
}
.helpDesk_main{
	position: relative;
	width: 1100px;
   	margin: 0px auto;
  	height:auto;
   	overflow:auto;
}


.helpMenu{
	position: absolute;
	top:0px;
	float: left;
	left: 70px;
	border: 0px; 
	padding: 0px;
	overflow: auto;
	background-color :#EEEEEE;
	align:left;
	
}
.HelpMain{
	width: 700px;
	height:auto;
	margin: 0px auto;
	overflow: auto;
}

.manyHelpMain{
	text-align:left;
	width: 700px;
	height:auto;
	margin: 0px auto;
	overflow: auto;
	border: 1px solid red;
}
.manyHelpIntroduce{
	font-size:12px;
	color:gray;
}
.manyHelpSerch{
	font-size:12px;
	color:gray;
}
.menuli{
    float:left;
    text-align:center;
}
.manyHelpSerchBarFeild{
	list-style-type:none;
}
.manyHelpContent{
    display: flex;
	justify-content : center;
	text-align:center;
	align:center;
	width: 700px;
	height:auto;
	margin: 0px auto;
	overflow: auto;
	border: 1px solid red;
}
.manyHelpBorder{
	height:auto;
	width: 700px;
	align:center;
	border: 1px solid red;
}
.manyHelpBordertype{
	width: 150px;
}
.manyHelpBorderReadnum{
	width: 90px;
}

