@charset "UTF-8";

@font-face {
    font-family: 'SUIT-Medium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/**store*/

.store_main{
	text-align:center;
}

.store_category{
	display:flex;
	width:1100px;
	margin:auto;
}

.store_category a{
	font-family: 'SUIT-Medium';
	padding-left:20px;
	padding-right:20px;
	font-size:20px;
	color:black;
}

.store_container{
	padding-bottom:10px;
	display:flex;
	flex:2;
	align-items:center;
	max-width:1100px;
	margin:auto;

}

.store_container .left{
	flex:1;
	padding-left:50px;	
	align-items:center;
	justify-content:center;
	border-bottom:1px solid #969696;	
	
}
.store_container .right{
	flex:1;
	padding-left:50px;	
	align-items:center;
	justify-content:center;
	border-bottom:1px solid #969696;
}

.store_container .left h1, 
.store_container .right h1{
	padding-left:5px;
	padding-right:5px;
	margin:0;
	padding-bottom:10px;
	color:black;
}

.store_container span{
	float:right;
}

.store_spaceMaker{
	height:50px;	
}


/**product*/



